<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>Apophis Calculations</title>
    <title>Apophis Calculations</title>
</head>
<body>
    <div class="text-center">
        <div class="col-md-3">
            <h1>Apophis Calculations</h1>
                <label for="obs1">First Observatory:</label>
                <select id="obs1" name="id1" names="{{names}}"></select>
                <p></p>
                <label for="obs2">Second Observatory:</label>
                <select id="obs2" name="id2" names="{{names}}"></select>
                <p></p>
                <div><button onclick="obsInfo()">Get Observatory Info</button></div>
                <div><button onclick="ephemInfo()">Get Ephemeris Info</button></div>
        </div>
    </div>


    <script>
        let elements = document.querySelector("#obs1").getAttribute("names").split(",");
        let select1 = document.querySelector("#obs1");
        let select2 = document.querySelector("#obs2");
        let i = 0;

        for (let elt of elements){
            elt = elt.replace("[","")
            elt = elt.replace("]","")
            elt = elt.replaceAll("'","")
            for (let sel of [select1,select2]){
                let option = document.createElement("option");
                option.text = elt;
                option.value = i;
                sel.appendChild(option);
            }
            i++
        }

        async function obsInfo(){
            let id1 = document.querySelector("#obs1").value;
            let id2 = document.querySelector("#obs2").value;
            let response = await fetch("http://127.0.0.1:8000/observatories_info?id1="+id1+"&id2="+id2+"&remarks=false");
            let obj = await response.json()
            console.log(obj)
        }

        async function ephemInfo(){
            let id1 = document.querySelector("#obs1").value;
            let id2 = document.querySelector("#obs2").value;
            let response = await fetch("http://127.0.0.1:8000/ephemeris_info?id1="+id1+"&id2="+id2);
            let obj = await response.json()
            console.log(obj)
        }
    </script>
</body>
</html>